$white: #FFF;
$black: #000;

$gray-light: #2A2A2A;
$gray: #171717;
$gray2: #1a1a1a;
$gray-dark: #0D0D0D;

// $accent: #FF5100;
$accent: #0051ff;
$green: #91FF00;
$red: #FF1900;

// theme colors
$jet: #0051ff;
$stark: #ffd000;
$crimson: #de0000e3;
$midnight: #031b1c;
$sunset: #ff5900;